[submodule "1-KLine-Extract"]
	path = 1-KLine-Extract
	url = https://github.com/Ziqi/1-KLine-Extract.git
[submodule "2-KLine-Resample"]
	path = 2-KLine-Resample
	url = https://github.com/Ziqi/2-KLine-Resample.git
[submodule "3-KLine-Slicer"]
	path = 3-KLine-Slicer
	url = https://github.com/Ziqi/3-KLine-Slicer.git
[submodule "4-Kronos-Trainer-GUI"]
	path = 4-Kronos-Trainer-GUI
	url = https://github.com/YourUsername/4-Kronos-Trainer-GUI.git
